1.Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [17]:
def show_the_love(l1):
  m = min(l1)
  c=0
  for i in l1:
    if i!=m:
      c = c + 0.25*i
      k = 0.75*i
      l1[l1.index(i)]=k
  l1[l1.index(m)] = c+m
  return l1
print(show_the_love([4, 1, 4]))
print(show_the_love([16, 10, 8]))
print(show_the_love([2,100]))

[3.0, 3.0, 3.0]
[12.0, 7.5, 14.5]
[27.0, 75.0]

2.Create a function that takes in two words as input and returns a list of three elements, in the following order:

   1.Shared letters between two words.
   2.Letters unique to word 1.
   3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]

Even with multiple matching letters (e.g. 3 f's), there should 

only exist a single "f" in your first element.

letters("match", "ham") ➞ ["ahm", "ct", ""]

"ham" does not contain any letters that are not found already 

in "match".

In [29]:
def letters(s1,s2):
  s1 = list(s1)
  s2 = list(s2)
  unique_word1 = set([x for x in s1 if x not in s2])
  unique_word2 = set([x for x in s2 if x not in s1])
  shared_word = set([x for x in s1 if x in s2])

  unique_word1 = list(unique_word1)
  unique_word2 = list(unique_word2)
  shared_word = list(shared_word)

  unique_word1.sort()
  unique_word2.sort()
  shared_word.sort()
  return "".join(shared_word),"".join(unique_word1),"".join(unique_word2)
print(letters("sharp", "soap"))
print(letters("board", "bored"))
print(letters("happiness", "envelope"))
print(letters("kerfuffle", "fluffy"))
print(letters("match", "ham"))

('aps', 'hr', 'o')
('bdor', 'a', 'e')
('enp', 'ahis', 'lov')
('flu', 'ekr', 'y')
('ahm', 'ct', '')

3.Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [38]:
def pairs(l1):
  l2=[]
  for i in range(0,len(l1)-1):
    if i!=len(l1)//2 +1:
      l2.append([l1[i],l1[len(l1)-1-i]])
    else:
      break
  return l2

print(pairs([1, 2, 3, 4, 5, 6, 7]))
print(pairs([1, 2, 3, 4, 5, 6]))
print(pairs([5, 9, 8, 1, 2]))
print([])

[[1, 7], [2, 6], [3, 5], [4, 4]]
[[1, 6], [2, 5], [3, 4], [4, 3]]
[[5, 2], [9, 1], [8, 8]]
[]

4.Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [40]:
def add_str_nums(in_one,in_two):
    in_one = in_one if len(in_one) > 0 else "0"
    in_two = in_two if len(in_two) > 0 else "0"
    if in_one.isdigit() == False or in_two.isdigit() == False:
        output = -1
    else: 
        output = int(in_one)+int(in_two)
    return output
print(add_str_nums("4", "5"))
print(add_str_nums("abcdefg", "3"))
print(add_str_nums("1", ""))
print(add_str_nums("1874682736267235927359283579235789257", "32652983572985729"))

9
-1
1
1874682736267235927391936562808774986

5.lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [57]:
def unmix(s1):
  s = ''
  for i in range(0,len(s1)-1,2):
        s += s1[i+1]+s1[i]
        if (len(s1)%2 != 0 and i == len(s1)//2 ):
            s += s1[-1] 

  return s
print(unmix("123456"))
print(unmix("hTsii  s aimex dpus rtni.g"))
print(unmix("badce"))

214365
This is a mixed up string.
abcde